data
exp

image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
offical_ckpt/
*.log
*.txt

libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/__init__.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/_C.cpython-310-x86_64-linux-gnu.so
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/aggregation.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/attention.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/grouping.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/interpolation.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/query.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/sampling.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/subtraction.py
libs/pointops/build/lib.linux-x86_64-cpython-310/pointops/utils.py
libs/pointops/build/temp.linux-x86_64-cpython-310/.ninja_deps
libs/pointops/build/temp.linux-x86_64-cpython-310/.ninja_log
libs/pointops/build/temp.linux-x86_64-cpython-310/build.ninja
libs/pointops/build/temp.linux-x86_64-cpython-310/src/pointops_api.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/aggregation/aggregation_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/aggregation/aggregation_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/attention/attention_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/attention/attention_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/ball_query/ball_query_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/ball_query/ball_query_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/grouping/grouping_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/grouping/grouping_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/interpolation/interpolation_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/interpolation/interpolation_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/knn_query/knn_query_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/knn_query/knn_query_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/random_ball_query/random_ball_query_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/random_ball_query/random_ball_query_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/sampling/sampling_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/sampling/sampling_cuda.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/subtraction/subtraction_cuda_kernel.o
libs/pointops/build/temp.linux-x86_64-cpython-310/src/subtraction/subtraction_cuda.o
libs/pointops/pointops.egg-info/dependency_links.txt
libs/pointops/pointops.egg-info/PKG-INFO
libs/pointops/pointops.egg-info/requires.txt
libs/pointops/pointops.egg-info/SOURCES.txt
libs/pointops/pointops.egg-info/top_level.txt
libs/pointrope/build/lib.linux-x86_64-cpython-310/pointrope.cpython-310-x86_64-linux-gnu.so
libs/pointrope/build/temp.linux-x86_64-cpython-310/.ninja_deps
libs/pointrope/build/temp.linux-x86_64-cpython-310/.ninja_log
libs/pointrope/build/temp.linux-x86_64-cpython-310/build.ninja
libs/pointrope/build/temp.linux-x86_64-cpython-310/kernels.o
libs/pointrope/build/temp.linux-x86_64-cpython-310/pointrope.o
.gitignore
libs/pointrope/pointrope.egg-info/dependency_links.txt
libs/pointrope/pointrope.egg-info/PKG-INFO
libs/pointrope/pointrope.egg-info/SOURCES.txt
libs/pointrope/pointrope.egg-info/top_level.txt
libs/pointrope/dist/pointrope-0.0.0-py3.10-linux-x86_64.egg
